# Histogram of Tweets

Assume you're given a table of Twitter tweet data `tweets`, write a query to obtain a histogram of tweets posted per user in 2022. Output the tweet count per user as the bucket & the number of Twitter users who fall into that bucket. 

In other words, group the users by the number of tweets they posted in 2022 & count the number of users in each group.

# Answer

First, I'll see what the `tweets` table looks like.

```
CREATE TABLE tweets (
	tweet_id integer,
	user_id integer,
	msg text,
	tweet_date timestamp
);

INSERT INTO tweets
VALUES (214252, 111, 'Am considering taking Tesla private at $420. Funding secured.', '12/30/2021 00:00:00'),
	   (759252, 111, 'Despite the constant negative covfefe', '01/01/2022 00:00:00'),
	   (846402, 111, 'Following @NickSinghTech on Twitter changed my life!', '02/14/2022 00:00:00'),
	   (241425, 254, 'If the salary is so competitive why won''t you tell me what it is?', '03/01/2022 00:00:00'),
	   (231574, 148, 'I no longer have a manager. I can''t be managed', '03/23/2022 00:00:00');

SELECT * FROM tweets;
```

<img src = "tweets Table.png" width = "600" style = "margin:auto"/>

Ok, now I'll find the number of tweets each user made in 2022.

```
SELECT date_part('year', tweet_date) AS year,
       user_id,
       count(*) AS tweet_bucket
FROM tweets
GROUP BY user_id, date_part('year', tweet_date)
HAVING date_part('year', tweet_date) = 2022;
```

<img src = "# of Tweets Each User Made in 2022.png" width = "600" style = "margin:auto"/>

Using the above query, I'll count the number of users in each tweet bucket.

```
WITH tweets_2022 
AS (
	SELECT date_part('year', tweet_date) AS year,
    	   user_id,
    	   count(*) AS tweet_bucket
    FROM tweets
    GROUP BY user_id, date_part('year', tweet_date)
    HAVING date_part('year', tweet_date) = 2022
)
SELECT year, tweet_bucket,
	   count(*) AS users_num
FROM tweets_2022
GROUP BY year, tweet_bucket;
```

<img src = "# of Users in Each Tweet Bucket.png" width = "600" style = "margin:auto"/>

In 2022, there were 2 users who made 1 tweet & 1 user who made 2 tweets.